#main {
	width: 900px;
	margin: 0 auto;
	font-size: 14px;
	position: relative;
	font-family: 'Cousine';
}

#search {
  margin-top: 50px;
}

#k-results {
  border: 1px dotted #CCC;
}

.cnt  {margin-top: 50px;}

h2 {
	margin: 40px 0px 10px
}

input[type="text"] {
	padding: 10px;
	width: 350px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid #DDDDDD;
}

input[type=text]:focus{
  box-shadow: 0 0 5px #41b1e5;
  border: 1px solid #41b1e5;
}
